html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: cursive;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	margin: 40px;
	height: 100%;
	text-align: center;
	background-color: grey;
	font: cursive;
	background: linear-gradient(to bottom right, paleturquoise, white);
}

h1 {
	font-size: 25px;
	margin-bottom: 2%;
	background: linear-gradient(to bottom right, beige, khaki);
	border-radius: 10px;
	border: 2px solid black;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	box-shadow: 2px 2px 2px grey;
}


h3 {
	position: relative;
	padding-top: 15%;
	margin-bottom: -5%; 
	color: beige;
	text-decoration: underline;
}

h4 {
	position: relative;
	font-style: italic;
	text-decoration: underline;
}


/********************************************************** Box *******************************************************/

.wrapper {
	height: 90%;
	display: grid;
	grid-template-columns: 3fr 10fr;
	grid-gap: 10px;
	background-color: #fff;
	color: #444;
	background-color: transparent;
}

.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	border: 2px solid black;
	padding: 20px;
	font-size: 100%;
	height: 80vh;
}

#workbox {
	position: relative;
	display: grid;
	grid-template-columns: 10fr 10fr 10fr;
	overflow-x: auto;
	overflow-y: auto;
}

#workbox .btnAdd {
	display: inline-flex;
}

#toolbox {
	grid-template-columns: 1fr;
	overflow-x: auto;
	overflow-y: auto;
}

#toolbox .btnAdd {
	display: none;
}

#toolbox > div:nth-of-type(2) p {
	min-height: 16px;
}

/************************************************************ Tasks **********************************************/

.interface, .node, .other {
	color: black;
	border-radius: 10px;
	border: 1px solid white; 
	padding: 5px;
	margin: 4px;
	min-width: 50px;
	max-width: 400px;
	position: relative;
	top: 5%;
	box-shadow: 2px 2px 2px black;
}

#workbox > .interface, #workbox > .node, #workbox > .other {
	top: 20%;
	position: relative;
	min-height: 6%;
	top: 0;
	left: 0;
}

.interface {
	background-color: darkorange;
}

.interface:hover{
	background-color: darkred;
	box-shadow: 5px 5px 5px black;
}

.node {
	background-color: cyan;
}

.node:hover{
	background-color: darkcyan;
	box-shadow: 5px 5px 5px black;
}

.other {
	background-color: yellowgreen;
}

.other:hover{
	background-color: darkgreen;
	box-shadow: 5px 5px 5px black;
}
 

/********************************************************** Buttons ****************************************/

#addTask, #deleteTask, #convertToFile {
	height: 30px;
	width: 30px;
	background-color: darkgrey;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
	border: 1px solid white;	
}

#addTask {
	margin-left: 90%;
}

#deleteTask {
	position: absolute;
	top: 13%;
	left: 97.7%;
	border: 1px solid darkred;
}

#convertToFile {
	position: absolute;
	top: 18%;
	left: 97.7%;
	border: 1px solid darkgreen;
}

.btnAdd {
	border-radius:  5px;
	border: 1px solid white;
	background-color: darkgrey;
	margin: 0 2px;
}

.list {
	position: absolute;
	z-index: 1;
	width: 95%;
	display: none;
	background-color: white;
	border: 2px solid black;
}
